body{
    background-color: black;
}
table{
   background-color: black;
   margin:auto;
   box-sizing:border-box;
   border-collapse:collapse;
}
td{
    border: 1px solid grey;
    width: 1vh;
    height: 1vh;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
td.alive{
    background-color: white;
}
td.dead{
    background-color:black;
}
Button{
    background-color:lightblue;
}
#Buttons{
    display:inline-flex;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

