:root{
    --gridColor:rgb(100,100,100);
    --gridWeight:1px;
}
html{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
    padding:0;
    margin:0;
}
table{
    background-color: black;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-55%);
    box-sizing:border-box; 
    border-collapse:collapse;
    outline:1.5px solid white;
    user-select:none;
}
td{
    border: var(--gridWeight) solid var(--gridColor);
    width: 1vh;
    height: 1vh;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
td.alive{
    background-color: white;
}
td.dead{
    background-color:black;
}
p{
    margin:0;
}
.popup{
    word-wrap:break-word;
    background-color:white; /*grey*/
    border-radius:10px;
    z-index:1;
    position:absolute;
    top:130vh; 
    left:50%;
    transform: translateX(-50%);
    width:30vw;
    height:35vh;
    text-align:center;
    display:none;
}
.popup >button{
    display:block;
    margin:auto;
    margin-top:1.5vh;
    color:white;
    background-color:black;
}
.popup > p{
    font-size:3vh;
    margin-bottom:1vh;
}
textarea{
    height:18vh;
    width:20vw;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
}
div#GameOfLife{
    margin:0;
    padding:0;
    box-sizing: border-box;
    width: 100vw;
    max-width:100%;
    height: 100vh;
}

div#Home{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background:black;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    
}
div#Home>div.display{
    color:white;
    text-align:justify;
}
div#Home p{
    margin:5%;
    font-size:1.2vw;
}
div#Home h1{
    text-align:center;
    font-size:2.5vw;
}
.card{
    position:absolute;
    color:black;
    background-color:white;
    border-radius:10px;
    padding:10px;
    box-sizing:border-box;
    text-align:center;
    overflow:auto;
}
.card>a{
    width:40%;
    height:8%;
    color:white;
    background-color:black;
    border-radius:10px;
    font-size:2.5vh;
    position:relative;
    justify-content:center;
    align-items:center;
    border: 2px solid white;
    display:inline-flex;
    text-decoration:none;
} 
.card>a:hover{
    color:black;
    background-color:white;
    border: 2px solid black;
    cursor:pointer;
} 
div#Home .video{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:50%;
    width:48vw;
    height:55vh;
    background-color:white;
    border-radius:10px;
}
.video>iframe{
    width:80%;
    height:70%;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:5px solid black;
}
.video>span{
    position:absolute;
    bottom:5%;
    left:50%;
    transform:translateX(-50%);
    color:black;
}
.video a{
    text-decoration:none;
    font-weight:700;
    color:rgb(45,45,45);
}
.video a:hover{
    font-size:110%;
}
#mainTitle{
    color:white;
    font-size: 10vw;
    text-align:center;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-70%);
    font-family: 'Raleway', sans-serif;
}
.mainNav{
    list-style-type:none;
    overflow:hidden;
    background-color:rgba(0,0,0,0);
    padding:0;
    margin:0;
    height:6vh;
}
.mainNav>li{
    float:left;
    width:20%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3vh;
    transition: all 0.5s;
    background-color:white;
}
.mainNav>li.selected{
    background-color:rgba(0,0,0,1);
    color:white;
}
.mainNav>li:hover:not(.selected){
    background-color:rgb(200,200,200); /*grey*/
    cursor:pointer;
}
#downButton{
    color:white;
    position:absolute;
    bottom:6vh;
    left:50%;
    transform: translateX(-50%);
    text-decoration:none;
    font-size:3vh;
    transition: all 0.2s;
    text-align:center;
}
#downButton:hover{
    font-size:5vh;
}
.optionsNav{
    list-style-type:none;
    overflow:hidden;
    background-color:white;
    padding:0;
    margin:0;
    height:6vh;
}
.optionsNav>li{
    float:left;
    width:20%;
    height:100%;
    font-size:3vh;
    transition: all 0.5s;
    box-sizing:border-box;  
    text-align:center;
}
.optionsNav Button{
    width:100%;
    height:100%;
    font-size:2.5vh;
    background-color:white;
    border:0;
    transition:all .5s;
}
.optionsNav Button:hover{
    cursor:pointer; 
    background-color:rgb(200,200,200)!important; /*grey*/
}
.dropdownButton{
    cursor:pointer;
    display:inline-block;
}
.dropdown{
    display:inline-block;
}
.dropdownContent{
    display:none;
    position:absolute;
    top:106vh;
    background-color:rgb(200,200,200); /*grey*/
    width:20%;
    height:4vh;
    z-index:2;
}
.dropdownContent button{
    color:black;
    display:block;
}
.dropdownContent>button.notselected{
    background-color:rgb(45,45,45);
    color:white;
}
/* .dropdownContent a{
    color:black;
    display:block;
    text-decoration:none;
} */

.dropdown:hover .dropdownContent{
    display: block;
}
.library{
    display:none;
    position:absolute;
    top:120vh;
    left:50%;
    transform:translateX(-50%);
    width:50vw;
    height:50vh;
    background-color:white;
    text-align:center;
    padding:2vh;
    overflow:auto;
    font-size:3vh;
    border-radius:10px;
}
.librarySectionBtn{
    width:100%;
    height:6vh;
    color:white;
    background-color:black;
    font-size:2vh;
}
.librarySectionBtn:hover{
    cursor:pointer;
}
.librarySection{
    border:1px solid white;
    max-height:0;
    overflow:hidden;
    transition:all .3s ease-out;
}
.libraryElement{
    width:15vh;
    height:15vh;
    position:inline;
    float:left;
    margin:5px;
}
.libraryElement > img{
    width:16vh;
    height:16vh;
}
.libraryElement > p{
    width:16vh;
    position:relative;
    z-index:2;
    bottom:7vh;
    visibility:hidden;
    color:white;
    background-color: rgba(0,0,0,.5);
    word-wrap:break-word;
    font-size:1vw;
}
.libraryElement:hover{
    cursor:pointer;
    border-color:white;
}
.libraryElement:hover > p{
    visibility: visible;
}
.exit{
    top:1vh;
    display:inline;
    margin-right:0;
    padding:0;
    position:relative;
    left:45%;
    font-weight:bold;
}
.exit:hover{
    cursor:pointer;
    color:rgb(100,100,100);
}
.message{
    width:0vw;
    overflow:hidden;
    height:10vh;
    background-color:rgb(255,255,255);
    z-index:2;
    position:absolute;
    transform:translateY(-120%);
    right:0;
    transition: all .8s ease-out;
    text-align:center;
}
.message > i{
    display:inline;
    position:absolute;
    left:2.5vw;
    top:5vh;
    transform: translateY(-50%);
}
.message > p{
    position:relative;
    width:15vw;
    top:5vh;
    left:12.4vw;
    transform:translate(-45%,-50%);
    word-wrap:break-word;
    overflow:hidden;
}
div#Board{
    color:white;
    position:absolute;
    top:192.5vh;
    left:50vw;
    transform:translateX(-50%);
}
div#Board p{
    float:left;
    margin-right:1.5vw;
    font-size: 1vw
}
div#Help{
    width:5vw;
    height:5vh;
    color:white;
    position:absolute;
    top:190vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3vh;
    transition: all 0.1s ease-out;
}
div#Help:hover{
    cursor:pointer;
    color:rgb(200,200,200);
    font-size:180%;
}
.pickLan>h1{
    color:white;
    font-size: 10vw;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    user-select:none;
}

.pickLan .card {
    border: 2px solid black;
    text-decoration:none;
}

.pickLan .card h1{
    font-size:4vw;
    margin:0;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.pickLan .card:hover{
    border: 5px solid white;
    color: white;
    background-color:black;
    cursor:pointer;
}