:root{
    --gridColor:grey;
    --gridWeight:1px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    padding:0;
    margin:0;
}
table{
    background-color: black;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-55%);
    box-sizing:border-box; 
    border-collapse:collapse;
    outline:1.5px solid white;
}
td{
    border: var(--gridWeight) solid var(--gridColor);
    width: 1vh;
    height: 1vh;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
td.alive{
    background-color: white;
}
td.dead{
    background-color:black;
}
p{
    margin:0;
}
.popup{
    word-wrap:break-word;
    background-color:grey;
    z-index:1;
    position:absolute;
    top:130vh; 
    left:50%;
    transform: translateX(-50%);
    width:30vw;
    height:30vh;
    text-align:center;
    display:none;
}
.popup >button{
    display:block;
    margin:auto;
}
.popup > p{
    font-size:3vh;
    margin-top:0.5vh;
    margin-bottom:0.5vh;
}
textarea{
    height:15vh;
    width:20vw;
}
div#GameOfLife{
    margin:0;
    padding:0;
    box-sizing: border-box;
    width: 100vw;
    max-width:100%;
    height: 100vh;
}
div#Home{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: black;
    width: 100vw;
    max-width:100%;
    height: 100vh;
}
div#Home>div.display{
    color:white;
}
#mainTitle{
    color:white;
    font-size: 10vw;
    text-align:center;
    position:relative;
    top:50%;
    bottom:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.mainNav{
    list-style-type:none;
    overflow:hidden;
    background-color:white;
    padding:0;
    margin:0;
    height:6vh;
}
.mainNav>li{
    float:left;
    width:20%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3vh;
    transition: all 0.5s;
}
.mainNav>li.selected{
    background-color:black;
    color:white;
}
.mainNav>li:hover:not(.selected){
    background-color:grey;
    cursor:pointer;
}
#downButton{
    color:white;
    position:absolute;
    bottom:6vh;
    left:50%;
    transform: translateX(-50%);
    text-decoration:none;
    font-size:3vh;
    transition: all 0.2s;
}
#downButton:hover{
    font-size:5vh;
}
.optionsNav{
    list-style-type:none;
    overflow:hidden;
    background-color:white;
    padding:0;
    margin:0;
    height:6vh;
}
.optionsNav>li{
    float:left;
    width:20%;
    height:100%;
    font-size:3vh;
    transition: all 0.5s;
    box-sizing:border-box;  
    text-align:center;
}
.optionsNav Button{
    width:100%;
    height:100%;
    font-size:2.5vh;
    background-color:white;
    border:0;
    transition:all .5s;
}
.optionsNav Button:hover{
    cursor:pointer;
    background-color:grey;
}
.dropdownButton{
    cursor:pointer;
    display:inline-block;
}
.dropdown{
    display:inline-block;
    
}
.dropdownContent{
    display:none;
    position:absolute;
    top:106vh;
    background-color:grey;
    width:20%;
    height:4vh;
    z-index:2;
}
.dropdownContent button{
    color:black;
    display:block;
}
.dropdown:hover .dropdownContent{
    display: block;
}
.library{
    display:none;
    position:absolute;
    top:120vh;
    left:50%;
    transform:translateX(-50%);
    width:50vw;
    height:50vh;
    background-color:white;
    text-align:center;
    padding:2vh;
    overflow:scroll;
}
.librarySectionBtn{
    width:100%;
    height:6vh;    
}
.librarySectionBtn:hover{
    cursor:pointer;
}
.librarySection{
    border:1px solid black;
    max-height:0;
    overflow:hidden;
    transition:all .3s ease-out;
}
.libraryElement{
    width:15vh;
    height:15vh;
    position:inline;
    float:left;
    border:1px solid black;
}
.libraryElement > img{
    width:15vh;
    height:15vh;
}
.libraryElement > p{
    position:relative;
    z-index:2;
    bottom:7vh;
    visibility:hidden;
    color:white;
    background-color: rgba(0,0,0,.5);
    word-wrap:break-word;
    font-size:.8vw;
}
.libraryElement:hover{
    cursor:pointer;
    border-color:white;
}
.libraryElement:hover > p{
    visibility: visible;
}
.exit{
    display:inline;
    margin-right:0;
    padding:0;
    position:relative;
    left:45%;
    font-size:30px;
    font-weight:bold;
}
.exit:hover{
    cursor:pointer;
    color:red;
}
.message{
    max-width:0vw;
    overflow:hidden;
    height:10vh;
    background-color:white;
    z-index:2;
    position:absolute;
    transform:translateY(-100%);
    right:0;
    text-align:center;
    transition: all 1s ease-out;
}
.message > p{
    width:30vw;
    margin-top:3vh
}